-- 1. Authentication & RBAC: Role Definition
-- Required roles: superadmin, admin, user
CREATE TYPE public."enum_Users_role" AS ENUM ('superadmin', 'admin', 'user');

-- 2. Product Module
-- Fields: id, name, description, price, stock, imageUrl
CREATE TABLE public."Products" (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    price NUMERIC(10, 2) NOT NULL,
    stock INTEGER DEFAULT 0,
    "imageUrl" VARCHAR(255),
    "createdAt" TIMESTAMPTZ NOT NULL,
    "updatedAt" TIMESTAMPTZ NOT NULL
);

-- 3. Authentication: Users Table
-- Fields: id, name, email (unique), password (hashed), role
CREATE TABLE public."Users" (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    role public."enum_Users_role" DEFAULT 'user',
    "createdAt" TIMESTAMPTZ NOT NULL,
    "updatedAt" TIMESTAMPTZ NOT NULL
);

-- 4. Cart Module (User-Specific)
-- Requirements: Add, Update, Remove items, User-specific link
CREATE TABLE public."Carts" (
    id SERIAL PRIMARY KEY,
    quantity INTEGER DEFAULT 1 NOT NULL,
    "userId" INTEGER REFERENCES public."Users"(id) ON UPDATE CASCADE ON DELETE CASCADE,
    "productId" INTEGER REFERENCES public."Products"(id) ON UPDATE CASCADE ON DELETE CASCADE,
    "createdAt" TIMESTAMPTZ NOT NULL,
    "updatedAt" TIMESTAMPTZ NOT NULL
);